<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.latsis.rmindme">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rmindme">
        <receiver
            android:name=".GeofencingReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".ReminderReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MapActivity"
            android:parentActivityName=".ReminderItemActivity" />
        <activity
            android:name=".ReminderListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterScreenActivity"
            android:parentActivityName=".LoginScreenActivity" />
        <activity
            android:name=".ReminderItemActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileScreenActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoginScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>